*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.button {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 278px;
  min-height: 50px;
  border: 1px solid #7ed321;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7ed321;
  background-color: transparent;
}

.show-button {
  display: block;
}
